@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* GREY SCALE COLORS */
	--dark-gray: #212121;
	--grayscale-medium: #666666;
	--grayscale-light: #e0e0e0;
	--background: #efefef;
	--white: #ffffff;

	/* PRIMARY COLORS */
	--light-blue: #0079ff;
	--hover-btn: #60abff;
	--primary: #dc0a2d;

	/* TYPE COLORS */
	--bug: #a7b723;
	--dark: #75574c;
	--dragon: #7037ff;
	--electric: #f9cf30;
	--fairy: #e69eac;
	--fighting: #c12239;
	--fire: #f57d31;
	--flying: #a891ec;
	--ghost: #70559b;
	--normal: #aaa67f;
	--grass: #74cb48;
	--ground: #dec16b;
	--ice: #9ad6df;
	--poison: #a43e9e;
	--psychic: #fb5584;
	--rock: #b69e31;
	--steel: #b7b9d0;
	--water: #6493eb;

	/* BOX SHADOWS */
	--primary-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
	--ball-shadow: 0px 0px 120px -10px rgb(247, 242, 172);
	--inner-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
	--drop-shadow-light: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
	--drop-shadow-heavy: 0px 1px 5px 1px rgba(0, 0, 0, 0.6);
}
